* {
    font-family: Lato, sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, #111314, #2b2a2c) no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

#form {
    width: 60%;
    height: 30%;
    background-color: #111314;
    display: flex;
    justify-content: center;
    align-items: center;
}