@media (min-width: 900px) {
    nav {
        display: flex;
        background-color: #222634;
        width: 100%;
        height: 7%;
    }

    nav .nav {
        display: flex;
        list-style-type: none;
        align-items: center;
        padding-left: 0;
        margin: 0;
        margin-left: 1%;
        width: 50%;
    }

    .nav #leader, #calc, #lookup {
        padding: 0;
        display: flex;
        width: auto;
        height: 100%;
        margin: 0 3% 0 3%;
    }

    .nav #home {
        padding: 0;
        display: flex;
        width: auto;
        font-size: 100%;
        margin-right: 3%;
        margin-left: 2%;
    }

    .nav .links {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #leader a {
        color: white;
        width: auto;
        height: auto;
        text-decoration: none;
        font-size: calc(1vw + 1em);
    }
    #calc a {
        color: white;
        width: auto;
        height: auto;
        text-decoration: none;
        font-size: calc(1vw + 1em);
    }
    #lookup a {
        color: white;
        width: auto;
        height: auto;
        text-decoration: none;
        font-size: calc(1vw + 1em);
    }
    #home a {
        color: white;
        width: auto;
        height: auto;
        text-decoration: none;
        font-size: calc(1vw + .5em);
    }
    /*fix this idioic code*/
    /*i guess it works now*/
    nav .acct {
      justify-content: center;
      align-content: center;
      margin-top: 0;
      margin-bottom: 0;
    }


    .acct .links a {
        color: white;
        text-decoration: none;
        font-size: calc(1vw + .75em);
        font-family: Roboto;
        justify-content: center;
        align-content: center;
    }

    .acct .links a i {
        justify-content: right;
        width: 100%;
        height: auto;
    }

    .acct > .links#acct {
      position: relative;
    }

    .dropdown {
      position: absolute;
      top: 100%;
      right: 0;
      width: auto;
      background-color: white;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      z-index: 1;
    }

    .dropdown li a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    .dropdown li a:hover {
      background-color: #f1f1f1;
    }
  }

@media (min-width: 1200px){}

@media (max-width: 900px) {
    nav {
      display: flex;
      background-color: #222634;
      width: 100%;
      height: 7%;
    }
  
    nav .nav {
      display: flex;
      list-style-type: none;
      align-items: center;
      padding-left: 0;
      margin: 1%;
      width: 50%;
    }
  
    nav .nav, nav .user, nav .menu {
      width: 33%;
    }
  
    .nav #home {
      padding: 0;
      display: flex;
      width: auto;
      margin-right: 3%;
      margin-left: 2%;
    }
  
    .nav .links a {
      color: white;
      text-decoration: none;
    }
  
    nav .user {
      height: auto;
      margin: auto;
      text-align: center;
      justify-items: center;
      color: white;
      font-size: 150%;
      font: Poppins;
    }
  
    .menu {
      display: flex;
      list-style-type: none;
      align-items: center;
      justify-content: right;
      padding-left: 0;
      padding-right: 0;
      margin: 1%;
      width: 50%;
    }
  
    .menu .links {
      display: flex;
      width: 100%;
      margin: 7%;
      justify-content: right;
      color: white;
    }
  
    .menu .links a {
      color: white;
      text-decoration: none;
      font-size: 120%;
    }
}

@media (max-width: 650px) {
    nav {
      display: flex;
      background-color: #222634;
      width: 100%;
      height: 7%;
    }
  
    nav .nav {
      display: flex;
      list-style-type: none;
      align-items: center;
      padding-left: 0;
      margin: 1%;
      width: 50%;
    }
  
    nav .nav, nav .user, nav .menu {
      width: 33%;
    }
  
    .nav #home {
      padding: 0;
      display: flex;
      width: auto;
      margin-right: 3%;
      margin-left: 2%;
    }
  
    .nav .links a {
      color: white;
      text-decoration: none;
    }
  
    nav .user {
      height: auto;
      margin: auto;
      text-align: center;
      justify-items: center;
      color: white;
      font-size: 100%;
      font: Poppins;
    }
  
    .menu {
      display: flex;
      list-style-type: none;
      align-items: center;
      justify-content: right;
      padding-left: 0;
      padding-right: 0;
      margin: 1%;
      width: 50%;
    }
  
    .menu .links {
      display: flex;
      width: 100%;
      margin: 7%;
      justify-content: right;
      color: white;
    }
  
    .menu .links a {
      color: white;
      text-decoration: none;
      font-size: 120%;
    }
  }