nav {
    display: flex;
    color: black;
}

.body {
    display: flex;
}

.other {
    color: red;
    width: auto;
}

.info {
    color: blue;
    width: auto;
}

.leader {
    color: green;
    width: auto;
}